.signup-section{
	height: calc(100vh - 70px);
}

.about-section{
	/* height: calc(100vh - 70px); */
}

.clients-section{
	height: calc(100vh - 70px);
}

.plans-section{
	height: calc(100vh - 70px);
}

.masthead{
	background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(12,22,22,.7) 99%,#161616 100%),url(../img/4.png) !important;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.signup-section{
	background: linear-gradient(to bottom,rgba(10,10,10,.3) 0,rgba(10,10,10,.7) 75%,#161616 100%),url(../img/login.jpg) !important;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 2000px) {
    .masthead{
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 70%,#161616 100%),url(../img/4lg.jpg) no-repeat !important;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
} */

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 1500px) {
    .masthead{
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 70%,#161616 100%),url(../img/4md.jpg) no-repeat !important;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
} */

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 767px) {
    .masthead{
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 70%,#161616 100%),url(../img/4sm.jpg) no-repeat !important;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
} */


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 360px) {
    .masthead{
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 30%,#161616 100%),url(../img/3min.jpg) no-repeat !important;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
} */
